{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>CoviDATA | Número de Casos</title>
        <link rel="stylesheet" href="{% static 'numcasos.css' %}">
        <meta charset="utf-8">
        <!-- Viewport Meta Tag -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Latest compiled and minified Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>

        <div style="margin-top: -10px; background-color: #76adaf3b;">
            <nav class="navbar navbar-expand-sm navbar-light bg-faded">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <!-- Brand -->
                <a class="navbar-brand" href="../"><img src="{{ logo.image.url }}" style="width: 20%;"></a>
                
                <header id="header"><p style="color: rgb(79, 111, 160);">Apresentação do Número de Casos</p></header>

                <!-- Links -->
                <div class="collapse navbar-collapse justify-content-end" id="nav-content">   
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <button id="analicasos_but">
                                <a class="nav-link" href="../analicasos">Análise dos Casos</a>
                            </button>
                        </li>
                        <li class="nav-item">
                            <button id="contgast_but">
                                <a class="nav-link" href="../controlgastos">Controle dos Gastos</a>
                            </button>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <h1 style="margin-bottom: -5px; padding: 5px; font-size: 40px;" class="display-4">Brasil</h1>
        <hr>
        <table width="100%" cellspacing="10" cellpadding="10" style="margin-top: -20px; table-layout: fixed;">
            <tbody>
                <tr>
                    <td style="text-align: center; width: 40px;">
                        <div class="card" style="max-width: 20rem; margin-top: 20px;">
                            <h3 class="card-header">Número de Casos</h3>
                            <div class="card-body"><h4 class="card-title">{{brasil.casos}}</h4></div>
                        </div>
                    </td>
                    <td style="text-align: center; width: 40px">
                        <div class="card" style="max-width: 20rem; margin-top: 20px;">
                            <h3 class="card-header">Número de Óbitos</h3>
                            <div class="card-body"><h4 class="card-title">{{brasil.obitos}}</h4></div>
                        </div>
                    </td>
                    <td style="text-align: center; width: 40px">
                        <div class="card" style="max-width: 20rem; margin-top: 20px;">
                            <h3 class="card-header">Recuperados</h3>
                            <div class="card-body"><h4 class="card-title">{{brasil.recuperados}}</h4></div>
                        </div>
                    </td>
                    <td style="text-align: center; width: 40px">
                        <div class="card" style="max-width: 20rem; margin-top: 20px;">
                            <h3 class="card-header">Ranking Mundial</h3>
                            <div class="card-body"><h4 class="card-title">2º</h4></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>


    
        <h1 style="margin-bottom: -5px; padding: 5px; font-size: 40px;" class="display-4">Estados Brasileiros</h1>
        <hr>
        <div id="estate_table"></div>
        <table id=center_estate class=table table-hover>
            <thead>
                <tr>
                    <th> Estado </th>
                    <th> Número de Casos</th>
                    <th> Média Móvel de Casos </th>
                    <th> Número de Óbitos </th>
                    <th> Média Móvel de Óbitos </th>
                </tr>
            </thead>
            <tbody>
                {% for estate in estates %}
                    <tr data-toggle="modal" data-target="#timeseries" style="cursor: pointer;" data-estado= "{{ estate.name }}" >
                        <td id="name" style="width: 250px;"> <img src="../media/{{estate.name}}.png" width="30px" height="20px" style="margin-right: 10px;">
                            {{ estate.name }} </td>    
                        <td>{{estate.casos}}</td>
                        <td>{{estate.media_movel_casos|stringformat:"d"}}</td>
                        <td>{{estate.obitos}}</td>
                        <td>{{estate.media_movel_obitos|stringformat:"d"}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="modal fade" id="timeseries" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img class="img-responsive" style="margin:0 auto; width: 100%;" src="../media/graphs/{{estate.name}}.png">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <script type="text/javascript">
            $('#timeseries').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                var recipient = button.data('estado') // Extract info from data-* attributes
                var modal = $(this)
                modal.find('.modal-title').text(recipient)
            })
        </script>
    </body>
</html>
