/* Layout */
body {
    margin: 10px;
    background-color: rgb(68, 179, 183);
}

#container {
    padding-left: 200px;
    padding-right: 190px;
}

#container .column {
    position: relative;
    float: left;
}

#center {
    padding: 10px 10px;
    width: 100%;
}

/* Aesthetics */
body {
    margin: -10px -10px -10px -10px;
    padding: 0;
    font-family:Sans-serif;
    background-color: rgb(8, 57, 75);
}

p {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    color: #555;
}

#header {
    font-size: xx-large !important;
    padding: 0em;
    z-index: 1;
}

button {
    color: rgb(79, 111, 160);
    background-color: #76adaf83;
    border: 1px solid #5fb7f5;
    border-radius: 4px;
    padding: 3px 3px;
    cursor: pointer;
    height: 50px;
    font-size: 14px;
    box-shadow: 0 0 4px #999;
    background-position: center;
    transition: background 0.8s;
}
button:hover {
    background:#43b3b7 radial-gradient(circle, transparent 1%, #43b3b7 1%) center/15000%;
    color: white;
}
button:active{
    background-color:#292d3e;
    background-size: 100%;
    transition: background 0s;
}
#numcasos_but{
    margin-top: 3px;
    margin-right: 20px;
}
#dicasgerais_but{
    margin-top: 3px;
    margin-right: 20px;
}
#contgast_but{
    margin-top: 3px;
}
